parse
.*
*.asm
*.o
*.lst
calc
parse
*.out
prog
gc
actual
expected
*.exe
tests
tmp/
*.ll
*.s
benchmark/insertion_sort
benchmark/prime_sum
benchmark/tag
benchmark/insertion_sort.exe
benchmark/prime_sum.exe
benchmark/tag.exe
benchmark/insertion_sort_cpp
benchmark/prime_sum_cpp
benchmark/tag_cpp
