parse
.*
*.asm
*.o
*.lst
calc
parse
*.out
prog
gc
actual
expected
*.exe
tests
tmp/
*.ll
*.s
benchmark/insertion_sort
benchmark/prime_sum
benchmark/tag
benchmark/insertion_sort.exe
benchmark/prime_sum.exe
benchmark/tag.exe
benchmark/insertion_sort_cpp
benchmark/prime_sum_cpp
benchmark/tag_cpp
benchmark/insertion_sort_cs
benchmark/prime_sum_cs
benchmark/tag_cs
benchmark/perm
benchmark/perm_cs
benchmark/perm_cpp
benchmark/merge_sort
benchmark/merge_sort_cs
benchmark/merge_sort_cpp
benchmark/prime_count
benchmark/prime_count_cs
benchmark/prime_count_cpp
benchmark/hash_table
benchmark/hash_table_cs
benchmark/hash_table_cpp
Prog*
test_mem
__pycache__
test
test.g